@charset "utf-8";
@font-face {
    font-family: Vnhltfap;
    src: url(../font/Vntfap01.ttf) format("truetype");
}

body {
	background-image:url('../img/shattered.png');
	font-family: Meiryo, 'ヒラギノ角ゴ Pro W3', sans-serif;
}

.navbar .nav > li {
	width: 110px;
	border: none;
}
.navbar .nav  li > a{
	color: #999;
	font-size: 13px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav  li > a:hover{
	background-color: #4B4B4B;
	color: #EEE;
}
.navbar .nav  li.active > a,
.navbar .nav  li.active > a:hover{
	background-color: #4B4B4B;
	color: white;
}

header{
	background : -webkit-gradient(linear, left top, right bottom, from(#66ACF3), color-stop(0.3, #06C), color-stop(0.7, #59C), to(#E5F6FF));
	margin-bottom: 10px;
}
header h1{
	font-size: 50px;
	color: white;
	font-family: 'Vnhltfap';
	margin: 30px 40px 5px;
	display: inline-block;
}
header p{
	display: inline-block;
	color: white;
	font-family: 'Vnhltfap';
}
.accent{
	color : #FFC957;
}
section{
	background-color: rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
}
section > h1{
	color : #FFF;
	background : -webkit-gradient(linear, left top, left bottom, from(#08C), to(#05A));
	font-size: 14px;
	margin: 0px 0px 10px 0px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 2px;
}

section h2{
	border-left: 5px solid #CCC;
	border-bottom: 1px dotted #CCC;
	padding-left: 10px;
	font-size: 20px;
	margin: 5px 10px 15px;
}

input[type=number]{
	text-align: right;
}

table th,
.table th{
	width: 150px;
}

.checkbox{
	margin-left: 10px;
}
.detail i{
	margin: 0px 5px 10px;
}

.pair .inner{
	min-height: 120px;
	margin: 10px;
	padding: 5px 10px;
	background-color: #C6CAD6;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFA3), to(#F8DBB3));
	border: 1px solid #D6CFB0;
}

.modal-footer > .btn{
	margin: 5px 20px;
}

.btn + .btn {
	margin : 5px 20px;
}

.text-small{
	font-size: 10px;
}
.text-large{
	font-size: 18px;
}
.text-xlarge{
	font-size: 25px;
	font-weight:bold;
}
.beautiful-font{
	font-family: 'Comic Sans MS';
}
.table-title{
	font-size:12px;
	padding: 5px;
	background-color: #B6B6B6;
	color: #F3F3F3;
}

/* datepicker */
#datepicker .ui-datepicker{
	margin: 10px 20px;
}
.dateLabel{
	font-size: 11px;
}
.dateLabel:before{
	content: '(';
}
.dateLabel:after{
	content: ')';
}

[class$="-right"]{
	float :right;
}
.nav-list > li > a {
	padding: 8px 14px;
	border: 1px solid #E5E5E5;
	background-color:#F7F7F7;
}
.nav-list > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.nav-list > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

/* term-grep */
#term-grep{
	margin-bottom: 15px;
	border-radius: 6px;
}

.save-message{
	position:absolute;
	top: 37%;
	left: 43%;
	width: 300px;
	height: 60px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding-top: 35px;
}
